{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='register.css')}}">

<div class="signup-container">
    <h2>Create an Account</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form action="{{ url_for('auth.sign_up') }}" method="post">
        <label for="name">Full Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="phone">Phone Number:</label>
        <input type="text" id="phone_number" name="phone_number" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" required>


        <button type="submit">Sign Up</button>
    </form>

    <p>Already have an account? <a href="{{ url_for('auth.login') }}">Log in</a></p>
</div>

<footer class="text-center">
    <p>Copyright &copy; 2025 All rights reserved by Sculpt Vault.</p>
</footer>
{% endblock %}
